$color: rgb(191, 191, 191);
.intTooltip-arrow{
	position: absolute;
	width: 0;
	height: 0;
	&.arrow-up {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $color;
	}

	&.arrow-down {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid $color;
	}

	&.arrow-right {
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid $color;
	}

	&.arrow-left {
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right:10px solid $color;
	}
}

.intTooltip{
	max-width: 300px;
	position: absolute;
	padding: 10px;

}
.intTooltip-inner{
	background-color: white;
	border: 1px solid $color;
	position: relative;
	padding: 1em;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
	.btn-ex{
		position: absolute;
		top: 0px;
		right: 3px;
		line-height: 100%;
		color: gray;
		cursor: pointer;
		&:hover{
			color: black;
		}
	}
}
